@charset "UTF-8";


body{
    background-color: rgb(124, 248, 124);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;

}
h1{
    color: rgb(63, 30, 30);
    background-color: rgb(214, 31, 199);
}
h2 {
    color: darkmagenta;
}
p{
    text-align:justify;
}

