@charset "UTF-8";

body {
    background-color: #FFEC5C;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #000000;
    text-align: center;

}

h1.principal {
    color: #000000;
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    width: 600px;
    padding: 30px;
    margin: auto;
    box-shadow: 5px 5px #000000;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: #B4CF66;
    
}

.basico{
    color: ;
    background-color: #ffffff;
    font-weight: bold;

}

.intermediario {
    color: #44803F;
    background-color: #ffffff;
    font-weight: bold;

}

.avancado {
    color: #146152;
    background-color: #ffffff;
    font-weight: bold;

}

.destaque {
    background-color: crimson;
}